@import url('main.css');
h1{
  text-align: center;
  color: green;
  text-transform: uppercase;
  border: 2px solid #fff;
}
h5{
  text-align: center;
  color: yellow;
  text-decoration: line-through; 
}